<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>


  {{#if user}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">clouD-techI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#if user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/cart">Cart <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">orders</a>
                </li>
                {{/if}}
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                    {{user.username}}
                    {{else}}
                    Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if user}}
                    <a class="dropdown-item" href="/logout">logOut</a>
                    {{else}}
                    <a class="dropdown-item" href="/login">login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
    {{else}}
    {{!-- <h1>not a user</h1> --}}
   {{/if}}

   view-productsssssssssssssss 

   {{!-- <section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 17rem; height: 25rem">
                    <img class=" card-img-top" src="/product-image/{{this._id}}.jpg" alt="Card image cap"
                        style="width: 100%; height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.category}}</p>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section> --}}

<script>
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(), // SERIALIZE Geting all data from a form
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    let id = response.codSuccess
                    location.href = `/order-success/${id}`
                } else if (response.Razorpay) {
                    razorpayPayment(response.Razorpay)
                } else if (response.Paypal) {
                    document.querySelector('#card-button-container').style.display = 'none';
                    let id = response.paypal.id;
                    let amount = response.paypal.amount
                    paypalPayment(id, amount)
                }
            }
        })
    })
    //RazorPay integration

    function razorpayPayment(order) {

        var options = {
            "key": "rzp_test_CyyEWbJn9u0YOv", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "clouD techI onE",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order,
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    let id = response.status
                    location.href = `/order-success/${id}`
                } else {
                    alert("payment failed")
                }
            }
        })
    }

    function paypalPayment(orderId, amount) {

        // Hide Non-PayPal button by default
        document.querySelector('#paypal-button-container').style.display = 'none';


        // Listen for changes to the radio fields
        document.querySelectorAll('input[name=payment-method]').forEach(function (el) {
            el.addEventListener('change', function (event) {

                // If PayPal is selected, show the PayPal button
                if (event.target.value === 'PayPal') {
                    document.querySelector('#card-button-container').style.display = 'none';
                    document.querySelector('#cards-button-container').style.display = 'none';
                    document.querySelector('#paypal-button-container').style.display = 'inline-block';
                }

                // If Card is selected, show the standard continue button
                else if (event.target.value === 'RazorPay') {
                    document.querySelector('#card-button-container').style.display = 'inline-block';
                    document.querySelector('#paypal-button-container').style.display = 'none';
                    document.querySelector('#cards-button-container').style.display = 'none';
                }
                else if (event.target.value === 'COD') {
                    document.querySelector('#cards-button-container').style.display = 'inline-block';
                    document.querySelector('#card-button-container').style.display = 'none';
                    document.querySelector('#paypal-button-container').style.display = 'none';
                }
            });
        });

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            currency_cod: 'USD',
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    $('#checkout-form').submit()
                    varifyPaypal(orderId)
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container');
    }

    function varifyPaypal(orderId) {
        $.ajax({
            url: '/verify-payment',
            data: {
                orderId: orderId,
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = `/order-success/${orderId}`
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>




 