<section>

    <body oncontextmenu="return false" class="snippet-body">
        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8" style="max-width: 119.666667%;
    margin-top: 50px; width: 119%;">
                    <div class="card">
                        <div class="text-left logo p-2 px-5", style="display: flex;">
                            <img src="/images/logo.png" width="50" />
                            <p> SwissKnife</p>
                        </div>
                        <div class="invoice p-5">
                            <h5>Your order Confirmed!</h5>
                            <span class="font-weight-bold d-block mt-4">Hello, User</span>
                            <span>You order has been confirmed and will be shipped in next two
                                days!</span>
                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Order Date</span>
                                                    <span>12 Jan,2018</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Order No</span>
                                                    <span>MT12332345</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Payment</span>
                                                    <span>COD</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Shiping Address</span>
                                                    <span>414 Advert Avenue, NY,USA</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product border-bottom table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        {{#each products}}
                                        <tr>
                                            <td>
                                                <img style="width: 100px; height: 65px;"
                                                    src="/product-image/{{this.product._id}}.jpg" alt="" />
                                            </td>
                                            <td width="60%">
                                                <span class="font-weight-bold">{{this.product.name}}</span>
                                                <div class="product-qty">
                                                    <span class="d-block">{{quantity}}</span>
                                                    <span>Cstegory</span>
                                                </div>
                                            </td>
                                            <td width="20%">
                                                <div class="text-right">
                                                    <span class="font-weight-bold">₹ {{product.price}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-5">
                                    <table class="table table-borderless">
                                        <tbody class="totals">
                                            <tr>
                                                <td>
                                                    <div class="text-left">
                                                        <span class="text-muted">Subtotal</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right"><span>₹ {{order.total}}</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="text-left">
                                                        <span class="text-muted">Shipping Fee</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right"><span>₹ 22</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="text-left">
                                                        <span class="text-muted">Tax Fee</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right"><span>₹ 7.65</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="text-left">
                                                        <span class="text-muted">Discount</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="text-success">₹ 168.50</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">
                                                        <span class="font-weight-bold">Subtotal</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">₹ {{order.total}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>
                                Your order successfully!
                            </p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>SwissKnife Team</span>
                            <div>
                                <a href="/orders" class="btn btn-primary">view orders</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</section>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

    body {
        background-color: ;
        font-family: "Montserrat", sans-serif;
    }

    .card {
        border: none;
    }

    .logo {
        background-color: #eeeeeea8;
    }

    .totals tr td {
        font-size: 13px;
    }

    .footer {
        background-color: #eeeeeea8;
    }

    .footer span {
        font-size: 12px;
    }

    .product-qty span {
        font-size: 12px;
        color: #dedbdb;
    }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>