{{!-- <style>
    .modal-backdrop.show{
        opacity: 0;
    }
</style> --}}

<link rel="stylesheet" href="/stylesheets/profile.css" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<section id="containers">
    <div class="container">
        <div class="main-body" style="padding: 84px;margin-top: 5rem;">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card" style="height: 294px;">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="preview"><img id="profile-pic" src="/user-images/{{profile._id}}.jpg"
                                        alt="user" class="rounded-circle" width="150" height="150"></div>
                                <div class="mt-3">
                                    <h4>{{profile.fname}}</h4>
                                    <form action="" id="profile-form" method="POST" enctype="multipart/form-data">
                                    </form>
                                    <input id="file-input" class="d-none" type="file" name="file" placeholder="Photo"
                                        required="" capture>
                                    <button class="btn btn-outline-primary" id="profileImage">Add profile pic</button>
                                    <button class="btn btn-outline-primary" id="editAddress">Edit profile</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">User Name</h6>
                                </div>
                                <div id="username" class="col-sm-9 text-secondary">
                                    {{profile.username}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div id="usermobile" class="col-sm-9 text-secondary">
                                    {{profile.mobile}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div id="useremail" class="col-sm-9 text-secondary">
                                    {{profile.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Add new address --}}
                <div id="onnpoovo">
                    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="" action="/addAddress" method="POST">
                                    <div class="modal-body mx-3">
                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-user prefix grey-text"></i> --}}
                                            <input value="" name="fname" type="text" id="name" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form34">First
                                                Name</label>
                                        </div>

                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-envelope prefix grey-text"></i> --}}
                                            <input name="lname" value="" type="text" id="lname" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form29">Last
                                                Name</label>
                                        </div>

                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-tag prefix grey-text"></i> --}}
                                            <input name="mobile" value="" type="text" id="mobile" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form32">Mobile</label>
                                        </div>

                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-tag prefix grey-text"></i> --}}
                                            <input name="email" value="" type="text" id="newemail" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form32">Email</label>
                                        </div>

                                        <div class="md-form" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-pencil prefix grey-text"></i> --}}
                                            <textarea name="address" type="text" id="address" class="md-textarea form-control"
                                                rows="4"></textarea>
                                            <label data-error="wrong" data-success="right" for="form8">Address</label>
                                            <input name="userId" value="{{profile._id}}" type="text" hidden >
                                        </div>

                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="submit" class="btn btn-unique">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
                        data-target="#modalContactForm">Add new address</a>
                </div>
                {{!-- END Popup Add new address --}}
                {{!-- Popup Edit profile --}}
                <div id="onnpoovo">
                    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="addAddressForm">
                                    <div class="modal-body mx-3">
                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-user prefix grey-text"></i> --}}
                                            <input value="{{profile.username}}" type="text" id="editname" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form34">Uers
                                                Name</label>
                                        </div>

                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-tag prefix grey-text"></i> --}}
                                            <input value="{{profile.mobile}}" type="text" id="editmobile" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form32">Mobile</label>
                                        </div>

                                        <div class="md-form mb-5" style="margin-bottom: 1px !important;">
                                            {{!-- <i class="fas fa-tag prefix grey-text"></i> --}}
                                            <input value="{{profile.email}}" type="text" id="editemail" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="form32">Email</label>
                                        </div>

                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-unique" id="updatAddress">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" id="editProfile"
                        type="button" data-target="#editProfile">Update profile</a>
                </div>

                {{!-- END Popup Edit profile --}}

                {{!-- Popup Edit Form --}}
                <div class="modal fade" id="yourAddresses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row">
                                {{#each allAddresses}}
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>{{this.fname}}</p>
                                            <p>{{this.lname}}</p>
                                            <p>{{address}}</p>
                                            <p>{{mobile}}</p>
                                            <p>{{email}}</p>
                                            {{!-- <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
                        data-target="#yourAddresses">Your Addresses</a>
                </div>
                {{!-- END Popup Edit Form --}}

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="result"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="load" class="btn btn-primary save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascripts/user/editAddress.js"></script>

<!-- <script

      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"

      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"

      crossorigin="anonymous"

    ></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<script>
    $("#updatAddress").click(function (e) { 
        var name = $("#editname").val();
        var mobile = $("#editmobile").val();
        var email = $("#editemail").val();
        $.ajax({
            url: '/editAddress',
            method: 'post',
            data: {
                name,
                mobile,
                email,
            },
            success: (response) => {
                console.log(response)
                let address = response.address
                if (response) {
                    console.log(response)
                    $("#username").html(response.username)
                    $("#useremail").html(response.email)
                    $("#usermobile").html(response.mobile)
                }
            }
        })
    })
</script>

<script>
    $("#profileImage").click(function (e) {
        $("#file-input").click();
    });

    let result = document.querySelector('.result'),
        save = document.querySelector('.save'),
        upload = document.querySelector('#file-input'),
        cropper = '';

    upload.addEventListener('change', (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    $("#exampleModalCenter").modal("show");
                    let img = document.createElement('img');
                    img.id = 'image';
                    img.src = e.target.result
                    // clean result before
                    result.innerHTML = '';
                    // append new image
                    result.appendChild(img);
                    // init cropper
                    cropper = new Cropper(img);
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    save.addEventListener('click', (e) => {
        e.preventDefault();
        // get result to data uri
        let imgSrc = cropper.getCroppedCanvas({
            width: 300 // img disp value
        }).toDataURL();
        var file = dataURLtoFile(imgSrc, 'abc.jpg');

        var fd = new FormData();
        fd.append("file", file);

        $.ajax({
            method: "POST",
            url: "/addProfilePic",
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success: (response) => {
                location.reload();
            },
        });
        $("#exampleModalCenter").modal("hide");
    });


    // *****************convert base 64 to file******************* 

    function dataURLtoFile(dataurl, filename) {

        var arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]),
            n = bstr.length,
            u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });

    }
</script>